body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #ADEFD1FF;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color:black;
    font-weight: 24px;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #00203FFF;
    color: white;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  
  .time-right {
    float: right;
    color:rgb(0, 0, 0);
  }
  
  .time-left {
    float: left;
    color:rgb(255, 255, 255);
  }